version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
# Environment variables will be sourced from ./.env
services:
  pihole:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PIHOLE_BASE_VERSION: ${PIHOLE_BASE_VERSION:-latest}
    container_name: pihole
    hostname: ${PIHOLE_HOSTNAME}
    domainname: ${PIHOLE_DOMAIN}
    networks:
      pihole_network:
        ipv4_address: ${FTLCONF_LOCAL_IPV4}
    ports:
      - "53/tcp"
      - "53/udp"
      - "67/udp"
      - "443/tcp"
      - "80/tcp"
    # Volumes store your data between container upgrades
    volumes:
      - './etc/pihole/:/etc/pihole/'
      - './etc/dnsmasq.d/:/etc/dnsmasq.d/'
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

networks:
  pihole_network:
    driver: macvlan
    driver_opts:
      parent: ${PIHOLE_VLAN_PARENT_DEVICE}
    ipam:
      config:
        - subnet: ${PIHOLE_SUBNET}
          gateway: ${PIHOLE_NETWORK_GATEWAY}
          ip_range: ${FTLCONF_LOCAL_IPV4}/30
